In [4]:
library(dplyr)

In [7]:
frame = read.csv(pipe("pbpaste"), sep = "\t", header = T, stringsAsFactors = F)

## 会员模板  分成950 个小东西

In [300]:
muban = read.table(pipe("pbpaste"), sep = "\t", header = T, stringsAsFactors=F)

Warning message in read.table(pipe("pbpaste"), sep = "\t", header = T, stringsAsFactors = F):
“incomplete final line found by readTableHeader on 'pbpaste'”

In [313]:
muban

  会员号（必填） 姓名（必填） 积分（必填） 折扣（必填） 余额（必填）
1 10008          赫建春       0            100          1
  会员等级（必填） 电话(必填)  密码 开卡日期  到期日期 生日 电子邮箱 QQ 地址
1 普通             13520897669 NA   2010/3/11 NA       NA   NA       NA NA
  备注 允许赊账 状态
1 NA   NA       NA

In [311]:
muban$`会员等级（必填）`= '普通'

In [304]:
names(muban) = c("会员号（必填）","姓名（必填）","积分（必填）","折扣（必填）","余额（必填）","会员等级（必填）","电话(必填)",
                 "密码","开卡日期","到期日期","生日","电子邮箱","QQ","地址","备注","允许赊账","状态")

In [312]:
openxlsx::write.xlsx(muban,"~/Desktop/testxlsx.xlsx")

In [318]:
t = data.frame(
        "会员号（必填）" = 1,
        "姓名（必填）" = templat$name, 
        "积分（必填）" = 0,
        "折扣（必填）" = 100,
        "余额（必填）" = 0,
        "会员等级（必填）" = '普通',
        "电话(必填)" = templat$tell,
        "密码" = NA,
        "开卡日期" = templat$日期,
        "到期日期" = NA,
        "生日" = NA, "电子邮箱" = NA,  "QQ" = NA,     "地址" = NA,  "备注" = NA, "允许赊账" = NA, "状态" = NA
         )

In [324]:
t$`会员号（必填）` = 100000 + seq(1:nrow(t))

In [326]:
t[1:3,]

  会员号（必填） 姓名（必填） 积分（必填） 折扣（必填） 余额（必填）
1 100001         王雨伊伊     0            100          0
2 100002         外国朋友     0            100          0
3 100003         王姐朋友     0            100          0
  会员等级（必填） 电话(必填)  密码 开卡日期  到期日期 生日 电子邮箱 QQ 地址
1 普通             18611922274 NA   2014/3/12 NA       NA   NA       NA NA
2 普通             13521700081 NA   2016/5/3  NA       NA   NA       NA NA
3 普通             13521700081 NA   2016/5/3  NA       NA   NA       NA NA
  备注 允许赊账 状态
1 NA   NA       NA
2 NA   NA       NA
3 NA   NA       NA

In [275]:
# templat = read.table(pipe("pbpaste"), sep = "\t", header = T, stringsAsFactors=F)

In [327]:
templat = t

In [328]:
st = 1
end = 950
for (i in 1:44) {
    filename = paste("/Users/zhoudaoxian/Documents/frame_s/f",i,sep = '_')
    filename = paste(filename,'xlsx',sep = ".")
    print(filename)    
    if (end>nrow(templat) & st < nrow(templat) ){
        temp = templat[st:nrow(templat), ]
        openxlsx::write.xlsx(x = temp,file = filename)
        break;
    }
    temp = templat[st:end, ]
    openxlsx::write.xlsx(x = temp,file = filename)
    st = st+950
    end = end+950
}

[1] "/Users/zhoudaoxian/Documents/frame_s/f_1.xlsx"
[1] "/Users/zhoudaoxian/Documents/frame_s/f_2.xlsx"
[1] "/Users/zhoudaoxian/Documents/frame_s/f_3.xlsx"
[1] "/Users/zhoudaoxian/Documents/frame_s/f_4.xlsx"
[1] "/Users/zhoudaoxian/Documents/frame_s/f_5.xlsx"
[1] "/Users/zhoudaoxian/Documents/frame_s/f_6.xlsx"
[1] "/Users/zhoudaoxian/Documents/frame_s/f_7.xlsx"
[1] "/Users/zhoudaoxian/Documents/frame_s/f_8.xlsx"
[1] "/Users/zhoudaoxian/Documents/frame_s/f_9.xlsx"
[1] "/Users/zhoudaoxian/Documents/frame_s/f_10.xlsx"
[1] "/Users/zhoudaoxian/Documents/frame_s/f_11.xlsx"
[1] "/Users/zhoudaoxian/Documents/frame_s/f_12.xlsx"
[1] "/Users/zhoudaoxian/Documents/frame_s/f_13.xlsx"
[1] "/Users/zhoudaoxian/Documents/frame_s/f_14.xlsx"
[1] "/Users/zhoudaoxian/Documents/frame_s/f_15.xlsx"
[1] "/Users/zhoudaoxian/Documents/frame_s/f_16.xlsx"
[1] "/Users/zhoudaoxian/Documents/frame_s/f_17.xlsx"
[1] "/Users/zhoudaoxian/Documents/frame_s/f_18.xlsx"
[1] "/Users/zhoudaoxian/Documents/frame_s/f_19.xlsx"
[1] "/Users/zhoudaoxian/Documents/frame_s/f_20.xlsx"
[1] "/Users/zhoudaoxian/Documents/frame_s/f_21.xlsx"
[1] "/Users/zhoudaoxian/Documents/frame_s/f_22.xlsx"
[1] "/Users/zhoudaoxian/Documents/frame_s/f_23.xlsx"
[1] "/Users/zhoudaoxian/Documents/frame_s/f_24.xlsx"
[1] "/Users/zhoudaoxian/Documents/frame_s/f_25.xlsx"
[1] "/Users/zhoudaoxian/Documents/frame_s/f_26.xlsx"
[1] "/Users/zhoudaoxian/Documents/frame_s/f_27.xlsx"
[1] "/Users/zhoudaoxian/Documents/frame_s/f_28.xlsx"
[1] "/Users/zhoudaoxian/Documents/frame_s/f_29.xlsx"
[1] "/Users/zhoudaoxian/Documents/frame_s/f_30.xlsx"
[1] "/Users/zhoudaoxian/Documents/frame_s/f_31.xlsx"
[1] "/Users/zhoudaoxian/Documents/frame_s/f_32.xlsx"
[1] "/Users/zhoudaoxian/Documents/frame_s/f_33.xlsx"
[1] "/Users/zhoudaoxian/Documents/frame_s/f_34.xlsx"
[1] "/Users/zhoudaoxian/Documents/frame_s/f_35.xlsx"
[1] "/Users/zhoudaoxian/Documents/frame_s/f_36.xlsx"
[1] "/Users/zhoudaoxian/Documents/frame_s/f_37.xlsx"
[1] "/Users/zhoudaoxian/Documents/frame_s/f_38.xlsx"
[1] "/Users/zhoudaoxian/Documents/frame_s/f_39.xlsx"
[1] "/Users/zhoudaoxian/Documents/frame_s/f_40.xlsx"
[1] "/Users/zhoudaoxian/Documents/frame_s/f_41.xlsx"
[1] "/Users/zhoudaoxian/Documents/frame_s/f_42.xlsx"
[1] "/Users/zhoudaoxian/Documents/frame_s/f_43.xlsx"
[1] "/Users/zhoudaoxian/Documents/frame_s/f_44.xlsx"

In [294]:
41820>nrow(templat) & 41132 < nrow(templat)

[1] TRUE

In [276]:
nrow(templat)

[1] 41136

In [284]:
x <- 1:10
filename = paste('temp',1)
i = 2
text = paste("filename",i,sep = '_')

class (text)
print(text)
# eval(parse(text = text))

[1] "character"

[1] "filename_2"

In [54]:
table(is.na(frame$tell))
table(is.na(frame$name))

FALSE  TRUE
34396    91

FALSE  TRUE
 1747 32740

## 已经通过支付宝导入的

In [130]:
name = "/Users/zhoudaoxian/Desktop/frame/data/names.js"
tell = "/Users/zhoudaoxian/Desktop/frame/data/tells.js"

In [131]:
name = read.csv(name, stringsAsFactors = F, header = T)
tell = read.csv(tell, stringsAsFactors = F, header = T)
tell$tellsList = substring(tell$tellsList,1,11)
name[1:4,]
tell[1:2,]

[1] " 130******23" " 玲"          " 全保"        " 杨亚丽"

[1] "13001071223NA" "13020067153NA"

In [149]:
name = rbind(name, name[761:762,])
fname = data.frame('name' = name$namesList, 'tell' = tell$tellsList)

In [151]:
fname[1:4,]

  name         tell
1  130******23 13001071223
2  玲          13020067153
3  全保        13031118807
4  杨亚丽      13051005375

In [165]:
names(nbook2)[2] = 'tell'
nbook2$tell = as.character(nbook2$tell)
fname$tell = as.character(fname$tell)
nbook = left_join(nbook2, fname, 'tell')

## 导出未完成的，然后导入手机  使用谷歌通讯录，变成vcad,

In [168]:
write.csv(nbook_on[1:1000,],"~/Desktop/nbook2.csv", row.names = F, ,quote=F)

### 导出第二份

In [5]:
frame2 = read.csv("~/Desktop/frame2.csv",  header = F, stringsAsFactors=F)

In [18]:
names(frame2) = c("name","date","filename")
l = nchar(frame2[,'name'])
frame2$tell = substring(frame2[,'name'],l-10,l)

In [19]:

frame2[1,]

  name            date      filename                        tell
1 陈杨13810039436 2014/3/12 照片 2014-3-12 7.37.48 下午.jpg 13810039436

In [21]:
write.csv(frame2 ,"~/Desktop/客户资料2.csv", row.names = F, ,quote=F, fileEncoding='utf-8')

## 分析数据

In [68]:
bid = read.csv("~/Desktop/BidComments_export_data_1554106603358-poor.csv", stringsAsFactors = F)

In [69]:
# 预览数据
bid[1:2,]

  id    user_id  goods_id sku_no order_id                             rate
1 24165 15659542 31388    1210B  b49b7305-27cd-45df-a66f-b19b162da53e 3
2 24157 16475972 46938    TY180  7d526c9e-791a-4711-9f4d-5d2f5d7815c6 3
  score content           merchant_id created_at
1 1     Never received it 396         2019-04-01T06:25:21.000Z
2 1     No weight to it,  455         2019-04-01T04:55:34.000Z
  updated_at               X.version X.timestamp
1 2019-04-01T06:25:21.000Z 1         2019-04-01T06:31:00.337Z
2 2019-04-01T04:55:34.000Z 1         2019-04-01T05:01:00.377Z

In [70]:
t(names(bid)) # excel 列名

     [,1] [,2]    [,3]     [,4]   [,5]     [,6] [,7]  [,8]    [,9]
[1,] id   user_id goods_id sku_no order_id rate score content merchant_id
     [,10]      [,11]      [,12]     [,13]
[1,] created_at updated_at X.version X.timestamp

In [71]:
# 总共商品种类 
t(unique(bid$goods_id))
length(unique(bid$goods_id))

     [,1]  [,2]  [,3]  [,4]  [,5]  [,6]  [,7]  [,8]  [,9]  [,10] [,11] [,12]
[1,] 31388 46938 56473 72862 40221 45823 53798 47038 40267 64405 ⋯     26023
     [,13] [,14] [,15] [,16] [,17] [,18] [,19] [,20] [,21]
[1,] 31261 32865 40301 39874 41436 36997 30307 28421 31177

[1] 2605

In [72]:
# 总共商家数量
t(unique(bid$merchant_id))
length(unique(bid$merchant_id))

     [,1] [,2] [,3] [,4] [,5] [,6] [,7] [,8] [,9] [,10] [,11] [,12] [,13] [,14]
[1,] 396  455  423  441  431  440  408  414  443  427   ⋯     487   447   473
     [,15] [,16] [,17] [,18] [,19] [,20] [,21]
[1,] 515   411   387   416   430   437   424

[1] 55

In [75]:
# t = group_by(bid, merchant_id, goods_id) %>% summarise(n = n()) %>% arrange(desc(n))

# 求每个商品 的差评数,并将差评数用字段goods_num  表示 ，然后按照goods_num 降序排列
sql = "select merchant_id, goods_id, count(*) as goods_num from bid group by merchant_id, goods_id order by goods_num desc"
t = sqldf(sql)
t[1:4,]

  merchant_id goods_id goods_num
1 427         40255    23
2 427         45884    20
3 432         40606    20
4 396         31194    19

In [76]:
# te = t %>% group_by(merchant_id) %>% summarise(merchant_num = n())  %>% arrange(desc(merchant_num))

# 求每个商家 有多少商品是 差评的，这个数量 用merchant_num 表示，并按照这个数量进行降序排序，TODO 然后好筛选 大于3种商品数有哪些商家，并列出这些无良商家具体的数量

sql = "select merchant_id,count(*) as merchant_num from t group by merchant_id order by merchant_num desc"
te = sqldf(sql)
te[1:3,]

  merchant_id merchant_num
1 423         381
2 431         260
3 440         240

## 将第一个结果和第二个结果连接起来

In [79]:
# 使用数据透视表 vlookup 实现

# t = left_join(t,te,by = "merchant_id")
sql = "select * from t left outer join te on t.merchant_id = te.merchant_id"
sql = "select t.merchant_id,t.goods_id, t.goods_num, te.merchant_num from t left outer join te on t.merchant_id = te.merchant_id"
t2 = sqldf(sql)
t2[1:4,]

  merchant_id goods_id goods_num merchant_num
1 427         40255    23        130
2 427         45884    20        130
3 432         40606    20        152
4 396         31194    19        180

In [80]:
gold4 = read.csv("~/Desktop/change.txt", sep = "\t")

In [82]:
write.csv(gold4,"~/Desktop/change.csv", row.names = F)

### R 语言下载图片

In [1]:
# install.packages("downloader")
library(rvest)
library(downloader)
# library(dplyr)

Loading required package: xml2

In [2]:
url <- 'http://www.uisdc.com/22-stunning-free-photos-websites'
picture<- read_html(url)%>% html_nodes("div.entry-content")%>%html_nodes("img")%>%html_attr("src")

In [3]:
picture[1]

[1] "https://image.uisdc.com/wp-content/uploads/2015/04/22-stunning-free-photos-websites-1.jpg"

In [4]:
url = "https://tophatter.com/lots/104461372"
# doc = read_html(url)
doc <- xml2::read_html(url)
doc

{xml_document}
<html class="" lang="en">
[1] <head>\n<meta http-equiv="Content-Type" content="text/html; charset=UTF-8 ...
[2] <body class="controller-lots action-show ">\n<nav class="navbar navbar-de ...

In [5]:
doc %>% html_nodes("meta")

{xml_nodeset (19)}
 [1] <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">\n
 [2] <meta name="csrf-param" content="authenticity_token">\n
 [3] <meta name="csrf-token" content="Md4zvsCfW2zgFDuP0fq7/SYRRrHoZ5jmP3AM2oT ...
 [4] <meta charset="utf-8">\n
 [5] <meta content="IE=edge" http-equiv="X-UA-Compatible">\n
 [6] <meta content="width=device-width, initial-scale=1" name="viewport">\n
 [7] <meta content="South African Ore Manufacturing 100% Genuine 14K White Go ...
 [8] <meta content="Tophatter" name="application-name">\n
 [9] <meta content="app-id=com.tophatter" name="google-play-app">\n
[10] <meta content="https://go.onelink.me/2550765822?pid=Tophatter_Internal&a ...
[11] <meta content="295802707128640" property="fb:app_id">\n
[12] <meta content="300664329976860" property="fb:page_id">\n
[13] <meta content="Tophatter" property="og:site_name">\n
[14] <meta content="https://tophatter.com/lots/104461372" property="og:url">\n
[15] <meta content="South African Ore Manufacturing 100% Genuine 14K White Go ...
[16] <meta content="South African Ore Manufacturing 100% Genuine 14K White Go ...
[17] <meta content="https://images.tophatter.com/42c09f609e7a6a47c70e0e1ccf3a ...
[18] <meta name="twitter:label1" value="Price">\n
[19] <meta name="twitter:data1" value="14">\n

In [6]:
#find all str nodes
 nodes<-xml_find_all(doc, '//*[@content]')

#filter out the nodes where the attribute name=id
 index = xml_attr(nodes, "property")=="og:image"
 index = which(index)
 nodes<-nodes[index]
 nodes
#get values (as character strings)
 html_attr(nodes, "content")

{xml_nodeset (1)}
[1] <meta content="https://images.tophatter.com/42c09f609e7a6a47c70e0e1ccf3a0 ...

[1] "https://images.tophatter.com/42c09f609e7a6a47c70e0e1ccf3a0bb6/large.jpg"

In [189]:
meta =  doc %>% html_nodes("meta") %>% html_attr("property")
index = which(meta == "og:image")
imgcontent =  doc %>% html_nodes("meta") %>% html_attr("content")
imgcontent[index]

[1] "https://images.tophatter.com/42c09f609e7a6a47c70e0e1ccf3a0bb6/large.jpg"

In [216]:
doc %>% html_nodes("div.col-md-7") %>% html_attr("class")
doc %>% html_nodes("div.col-md-7") %>% html_attr("src")

[1] "col-md-7 slot-images"

[1] NA

In [194]:
a = doc %>% html_nodes("meta") %>% html_attrs
a = doc %>% html_nodes("meta") %>% html_attr("content") %>% na.omit
index = a %>% stringr::str_detect(".jpg") %>% which
a[index]

[1] "https://images.tophatter.com/42c09f609e7a6a47c70e0e1ccf3a0bb6/large.jpg"

In [162]:
download(a[17] %>% html_attr("content"),"~/Desktop/picture1.jpg", mode = "wb")

#  匹配

In [41]:
a = openxlsx::read.xlsx("~/Desktop/常青库第一批成交价格和保留价情况.xlsx", sheet = 1, detectDates = T)
b = openxlsx::read.xlsx("~/Desktop/常青库第一批成交价格和保留价情况.xlsx", sheet = 2, detectDates = T)
a[1:3,]
b[1:3,]
class(a$created_at)
class(b$paid_at)

  item_id created_at reserve_price shipping_fee 总价 expo_count
1 31237   2018-11-20 7             0            7     2
2 31237   2018-11-24 7             0            7    32
3 31237   2018-11-25 7             0            7    38

  item_id paid_at    price    reserve_price shipping_fee order_count
1 31237   2018-11-24 8.909091 7             0            11
2 31237   2018-11-25 8.583333 7             0            12
3 31237   2018-11-26 7.363636 7             0            11

[1] "Date"

[1] "Date"

In [1]:
a = read.csv(pipe("pbpaste"), sep = "\t", header = T, stringsAsFactors = F)

In [2]:
b = read.csv(pipe("pbpaste"), sep = "\t", header = T, stringsAsFactors = F)

In [10]:
class(b$paid_at)
class(a$created_at)
t(lapply(a,class))

[1] "character"

[1] "character"

     item_id paid_at   price   reserve_price shipping_fee order_count
[1,] integer character numeric numeric       numeric      integer

In [14]:
names(b)[2] = names(a)[2]
new = left_join(a, b[,c(1,2,6)],by = c("item_id","created_at"))

In [31]:
new2 = sqldf::sqldf("select a.item_id,a.created_at,a.reserve_price, a.shipping_fee ,a.总价 ,a.expo_count , b.order_count 
from a left outer join  b ON a.item_id=b.item_id and a.created_at = b.created_at" )

In [32]:
new2[1:4,]

  item_id created_at reserve_price shipping_fee 总价 expo_count order_count
1 31237   2018/11/20 7             0            7     2         NA
2 31237   2018/11/24 7             0            7    32         11
3 31237   2018/11/25 7             0            7    38         12
4 31237   2018/11/26 7             0            7    39         11

In [34]:
write.csv(new2, "~/Desktop/combination_count.csv", row.names = F)

# python 潘大师join 失败，字符串列title,需要strip（）首尾空格

In [9]:
dir("./baidu/fc/")

[1] "1dowload_day.py"          "2extract_f.sh"
[3] "4ideainfo_group_title.py" "g67_results.csv"
[5] "grp_67_2.csv"             "grp_67.csv"
[7] "temp.csv"

In [12]:
colnames = c("userid","tradeid_3","show","click","title")
g67 = read.csv("./baidu/fc/grp_67_2.csv", sep  = "\t", stringsAsFactors=F, col.names = colnames)
colnames = c("title","uned","sellpoint","socre")
sell = read.csv("./baidu/fc/g67_results.csv", sep  = "\t", stringsAsFactors=F, col.names = colnames)

In [14]:
g67[1:3,]
sell[1:3,]

  userid tradeid_3 show click
1 3278   670601    2574 84
2 3278   670601    7019 96
3 3278   670601     361  8
  title
1  专业欧美外教团队--平和英语360°极酷英语夏令营
2  在#{地域}，不用出国就能拥有的纯英语环境，口语自然流畅！
3  增长知识，更增长见识--平和英语360°极酷英语夏令营!

  title                                                    uned sellpoint
1 专业欧美外教团队--平和英语360°极酷英语夏令营             便宜 师资强
2 在#{地域}，不用出国就能拥有的纯英语环境，口语自然流畅！  便宜 轻松学习
3 增长知识，更增长见识--平和英语360°极酷英语夏令营!        便宜 轻松学习
  socre
1 0.8605900
2 0.8553047
3 0.4476695

In [34]:
sell[3,"title"]

[1] "增长知识，更增长见识--平和英语360°极酷英语夏令营! "

In [38]:
g67[which(' 增长知识，更增长见识--平和英语360°极酷英语夏令营!' == g67$title),]
sell[which(sell[3,"title"] == sell$title),]

       userid tradeid_3 show click
3      3278   670601    361   8
36756  3278   670601    557  14
71395  3278   670601    229   6
97670  3278   670601    187   3
137023 3278   670601    364   6
       title
3       增长知识，更增长见识--平和英语360°极酷英语夏令营!
36756   增长知识，更增长见识--平和英语360°极酷英语夏令营!
71395   增长知识，更增长见识--平和英语360°极酷英语夏令营!
97670   增长知识，更增长见识--平和英语360°极酷英语夏令营!
137023  增长知识，更增长见识--平和英语360°极酷英语夏令营!

       title                                              uned sellpoint
3      增长知识，更增长见识--平和英语360°极酷英语夏令营!  便宜 轻松学习
36745  增长知识，更增长见识--平和英语360°极酷英语夏令营!  便宜 轻松学习
71371  增长知识，更增长见识--平和英语360°极酷英语夏令营!  便宜 轻松学习
97635  增长知识，更增长见识--平和英语360°极酷英语夏令营!  便宜 轻松学习
136976 增长知识，更增长见识--平和英语360°极酷英语夏令营!  便宜 轻松学习
       socre
3      0.4476695
36745  0.4476695
71371  0.4476695
97635  0.4476695
136976 0.4476695